.footer_section{
    justify-self: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}

@media screen and (max-width:750px) {
    .footer_section{
        justify-self: center;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

    }
}








/*! NewsLetter area start here -----------------------------------------------------*/
.newsletter_card_wrapper{
    width: 85%;
    max-width: 1280px;
    margin: 7rem auto 7rem;
    position: relative;

}

.newsletter_card_wrapper_imgWrapper{
    width: 100%;
    height: max-content;
}

.newsletter_card_wrapper_imgWrapper > img{
    width: 100%;
    height: max-content;
    object-fit: fill;
}

.newsletter_card_wrapper_txtItemWrapper{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: auto;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: #00000057;
}

.newsletter_card_wrapper_txtItemWrapper > .txt1{
    text-align: center;
    font-family: var(--font_family_Noto_Serif);
    font-size: 2.7em;
    font-weight: bold;
    color: #fff;
    /* margin-top: -2rem; */
}

.newsletter_card_wrapper_txtItemWrapper > .form{
    /* border: 1px solid; */
    width: 80%;
    max-width: 800px;
    justify-self: center;
    margin: 2.5rem auto 0;
    justify-content: space-between;
}

.newsletter_card_wrapper_txtItemWrapper > .form > .emailInput{
    width: 75%;
    padding: 1rem 1.7rem;
    outline: none;
    border: 2px solid #ffffffc4;
    font-size: 1rem;
    border-radius: 10px 0px 0px 10px;
    border-right: 0;
    background-color: #ffffffc4;

}

.newsletter_card_wrapper_txtItemWrapper > .form > .emailInput:focus{
    border-left: 2px solid var(--text_color_orange_level_1);
    border-top: 2px solid var(--text_color_orange_level_1);
    border-right: none;
    border-bottom: 2px solid var(--text_color_orange_level_1);
    background-color: #fffffff5;
}

.newsletter_card_wrapper_txtItemWrapper > .form > .emailInput:hover{
    background-color: #fffffff5;
}

.newsletter_card_wrapper_txtItemWrapper > .form > .submitBtn{
    width: 25%;
    padding: 1rem 0;
    border: 1px solid var(--text_color_orange_level_1);
    background-color: var(--text_color_orange_level_1);
    color: #fff;
    font-size: 1rem;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.newsletter_card_wrapper_txtItemWrapper > .form > .submitBtn:hover{
    background-color: var(--text_color_orange_level_2);
    border: 1px solid var(--text_color_orange_level_2);
}


/* NewsLetter area end here -*/



















/*!  Footer area start here ---------------------------------------------------------------*/
.footer_banner_wrapper{
    flex-direction: column;
    /* border: 1px solid; */
    justify-self: center;
    margin: 12rem auto 0rem;
    width: 85%;
    max-width: 1280px;
    gap: 5vh;
}

.footer_banner_bannerArea{
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 100%;
    align-items: flex-start;
    margin: 0rem 0 2rem;    
}

.footer_banner_bannerArea_brandInfo_wrapper{
    /* border: 1px solid; */
    width: 40%;
    flex-direction: column;
    gap: 1rem;
    margin-top: -1rem;
}

.footer_banner_bannerArea_brandInfo_logo{
    /* border: 1px solid; */
    width: 8rem;
    flex-direction: column;

}

.footer_banner_bannerArea_brandInfo_about{
    color: var(--text_color_dark_level_2);
    font-size: 1.2rem;
    max-width: 95%;
    text-align: left;
    font-size: 1.1rem;
}

.footer_banner_bannerArea_linkBox01_wrapper,
.footer_banner_bannerArea_linkBox02_wrapper{
    width: 15%;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 1rem;
    /* border: 1px solid; */
}

.footer_banner_bannerArea_linkBox01_wrapper > a,
.footer_banner_bannerArea_linkBox02_wrapper > a{
    text-align: left;
    margin-bottom: .7rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text_color_dark_level_2);
    transition: .5s al ease-in-out;
    /* border: 1px solid; */
    width: max-content;
}

.footer_banner_bannerArea_linkBox01_wrapper > a:hover,
.footer_banner_bannerArea_linkBox02_wrapper > a:hover{
    text-decoration: underline;
    color: var(--text_color_orange_level_1);
}

.footer_banner_bannerArea_social_wrapper{
    width: 20%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    padding-left: 3%;
}

.footer_banner_creditArea{
    flex-direction: column;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    margin: 0 auto 1.5rem;
}

.footer_banner_creditArea > p{
    padding: 5px 0;
    text-align: center;
    font-size: .9rem;
    color: var(--text_color_dark_level_2);

}

.footer_banner_creditArea > p  a,
.footer_banner_creditArea > p  a{
    text-decoration: underline;
    color: var(--text_color_dark_level_2);
    transition: .5s al ease-in-out;
    width: max-content;
}

.footer_banner_creditArea > p  a:hover,
.footer_banner_creditArea > p  a:hover{
    color: var(--text_color_orange_level_1);
}

/* .footer_banner_creditArea > p  span{
    font-weight: bold;
} */

@media screen and (max-width:810px) {
    .footer_banner_bannerArea{
        flex-direction: column;
        justify-content: left;        /* border: 1px solid; */
        flex-direction: column;
    }

    .footer_banner_bannerArea_brandInfo_wrapper,
    .footer_banner_bannerArea_linkBox01_wrapper,
    .footer_banner_bannerArea_linkBox02_wrapper,
    .footer_banner_bannerArea_social_wrapper{
        width: 100%;
    }

    .footer_banner_bannerArea_brandInfo_wrapper{
        margin-bottom: 2.5rem;
        width: 70%;
    }

    .footer_banner_bannerArea_linkBox01_wrapper{
        margin-bottom: 0;
    }
    .footer_banner_bannerArea_linkBox02_wrapper{
        margin-bottom: 2rem
    }
    .footer_banner_bannerArea_social_wrapper{
    .footer_banner_bannerArea_linkBox01_wrapper{
        margin-bottom: ;
    }

}

















