.header_section{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1280px;
    margin-top: 1rem;
    /* border: 1px solid; */
    font-family: "Inter", sans-serif;
}

.header_logo_wrapper{
    max-width: 30%;
}

.header_logo_img{
    width: 8rem;
    height: auto;
}

.header_navMenu_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    /* border: 1px solid; */
    width: 50%;
}

.header_navMenu_link_wrapper{
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.header_navMenu_link_a{
    text-decoration: none;
    color: #8987A1;
}

.navLinkSelected{
    color: #252432;
    font-weight: bold;
}