.header_section{
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1280px;
    margin-top: 1rem;
    /* border: 1px solid; */
    font-family: "Inter", sans-serif;
}

.header_logo_wrapper{
    max-width: 30%;
}

.header_logo_img{
    width: 8rem;
    height: auto;
}

.header_navMenu_wrapper{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 15px; */
    /* border: 1px solid; */
    width: 50%;
}

.header_navMenu_link_wrapper{
    /* border: 1px solid; */
    flex-direction: row;
    justify-content: space-around;
    /* padding: 0 3px; */
    width: 60%;
}

.header_navMenu_link_a{
    text-decoration: none;
    color: var(--text_color_dark_level_2);
    transition: .3s all ease-in-out;
    /* border: 1px solid; */
    /* font-weight: bold; */

}

.header_navMenu_link_a:hover,
.navLinkSelected{
    color: var(--text_color_dark_level_1);
    font-weight: bold;
}



@media screen and (max-width:750px) {
    .header_navMenu_wrapper{
        justify-content: right;
    }
    .header_navMenu_link_wrapper{
        display: none;
    }
    .header_navMenu_actionBtn_wrapper{
        padding-right: 3%;
    }
}